:deep(.arco-tag) {
    background-color: var(--vp-c-bg);
    color: var(--vp-c-text-1);
}

:deep(.arco-icon) {
    width: 1em;
    height: 1em;
}

.timeline-wrap {
    margin-top: 18px;
    padding-left: 200px;
    word-break: break-all;
}


.timeline-wrap .timeline-item {
    padding: 150px 0 0 60px;
    border-left: 3px solid #5D9DF0;
    line-height: 2;
}

.timeline-wrap .timeline-item:not(:last-child) {
    padding-bottom: 20px;
}

.timeline-wrap .timeline-item .year {
    font-size: 50px;
    font-weight: bold;
}

.timeline-wrap .timeline-item .year a {
    position: absolute;
    left: 320px;
    top: 15px;
    font-size: 36px;
}

.timeline-wrap .timeline-item .year img {
    position: absolute;
    left: 200px;
    top: 0;
    background: #fff;
    border: medium solid #84b9e5;
    cursor: pointer;
}


.timeline-wrap .timeline-item .timeline-item-time {
    margin-bottom: 12px;
    width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline-wrap .timeline-item .timeline-item-content {
    font-size: 24px;
}

.timeline-wrap .timeline-item .articles {
    line-height: 1.5;
    padding-top: 10px;
}

.timeline-wrap .timeline-item .articles .article {
    display: block;
    position: relative;
    margin-bottom: 75px;
    line-height: 1.5;
}

.timeline-wrap .timeline-item .articles img {
    position: absolute;
    left: -110px;
    top: -5px;
    background: #fff;
    border: 3px solid #84b9e5;
    border-radius: 50%;
    cursor: pointer;
}

.timeline-wrap .timeline-item .articles .article span {
    color: var(--vp-c-text-2);
}

.vp-doc a {
    font-weight: 400;
    color: var(--vp-c-text-1);
    text-decoration: none;
}

.vp-doc a:hover {
    color: var(--vp-c-brand-1);
    text-decoration: underline;
}